{% include './../base/head.twig' %}
<body>
{% include './header.twig' %}
{% block content %}{% endblock %}
{% include './footer.twig' %}
{% include './../base/scripts.twig' %}
</body>
{% include './../base/end.twig' %}