<header class="header">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="header__logo">
                    <i class="icon icon-logo"></i>
                </div>
            </div>
        </div>
    </div>
</header>