{% include 'head.twig' %}
<body>
{% include '../layout/header.twig' %}
{% block content %}{% endblock %}
{% include '../layout/footer.twig' %}
{% include 'scripts.twig' %}
</body>
{% include 'end.twig' %}