<section class="section intro">
    <div class="container text-center">
        <h1>Gulp Configuration Page</h1>
        <h3>What do you find here?</h3>
        <ul class="list-group">
            <li class="list-group-item">Gulp with browser synchronization - <a href="https://browsersync.io/" target="_blank">bs</a></li>
            <li class="list-group-item"><a href="https://twig.symfony.com/" target="_blank">Twigs</a></li>
            <li class="list-group-item"><a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap 4</a></li>
            <li class="list-group-item"><a href="https://www.w3schools.com/css/css_image_sprites.asp" target="_blank" >Sprites</a> </li>
            <li class="list-group-item"><a href="https://sass-lang.com/" target="_blank">Sass</a></li>
        </ul>
    </div>
</section>



